<navigation></navigation>

<div class="container">
<div class="row">
    <div class="col-md-4 col-xs-12 margin-tb">
    <div class='water-level-section tile-section'>
        <h2>Current Water Level</h2>
        <ul>
        <li>435/500G</li>
        <li>YTD: 936G</li>
        <li>RAINCOIN: 9.36</li>
        </ul>
        <div>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="display: none;">
            <symbol id="wave">
            <path d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z"></path>
            <path d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z"></path>
            <path d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z"></path>
            <path d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z"></path>
            </symbol>
        </svg>
        <div class="box">
            <div class="percent">
            <div class="percentNum" id="count">0</div>
            <div class="percentB">%</div>
            </div>
            <div id="water" class="water">
            <svg viewBox="0 0 560 20" class="water_wave water_wave_back">
                <use xlink:href="#wave"></use>
            </svg>
            <svg viewBox="0 0 560 20" class="water_wave water_wave_front">
                <use xlink:href="#wave"></use>
            </svg>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="col-md-8 col-xs-12 margin-tb">
    <div class='tile-section no-padding'>
        <div class="row weather-day-section">
        <div class="weather-day-item" ng-repeat="forecast in vm.forecasts" id='weather-{{$index}}'>
            <div>
            <h1>{{forecast.day}}</h1>
            <img src='{{forecast.icon}}' alt="">
            <h2>{{forecast.iconName}}</h2>
            </div>
            <div>
            <h2>{{forecast.rainProbability}}%</h2>
            <div class="daily-rain-level">
                <div class="circle" style="height:{{forecast.rainIntensityHeight}}; width:{{forecast.rainIntensityWidth}};"></div>
            </div>
            <h2>{{forecast.rainIntensity}} in</h2>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<!--Raincube Level row end-->
<div class="row">
    <div class="col-md-8 col-xs-12 margin-tb ">
    <div class='tile-section no-padding height-auto'>
        <h2>Monthy Water Collection and Distribution (G)</h2>
        <div style="width='100%'">
        <canvas id="line-chart"></canvas>
        </div>
    </div>
    </div>
    <div class="col-md-4 col-xs-12 margin-tb">
    <div class='tile-section no-padding height-auto'>
        <h2>ZONE CONTROLS</h2>
        <ul class="nav nav-tabs margin-tb" role="tablist">
        <li role="presentation" class="active"><a href="#zone-1" aria-controls="home" role="tab" data-toggle="tab">ZONE 1</a></li>
        <li role="presentation"><a href="#zone-2" aria-controls="profile" role="tab" data-toggle="tab">ZONE 2</a></li>
        <li role="presentation"><a href="#zone-3" aria-controls="messages" role="tab" data-toggle="tab">ZONE 3</a></li>
        </ul>
        <div class="tab-content">
        <div role="tabpanel" class="tab-pane active text-center margin-tb" id="zone-1">
            <!-- <label class="switch margin-tb">
                    <input type="checkbox">
                    <div class="slider round"></div>
                </label> -->
            <small style="padding-left:8px;">Length:</small>
            <div class="btn-group dropup">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id='zone-1-button'> {{vm.timeLength}} minutes <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="x in vm.timeInterval"><a href='#' ng-click="vm.setTime(x)">{{x}} minutes</a></li>
            </ul>
            </div>
            <br>
            <br>
            <button class="btn btn-default" onclick="startCountdown(1)">Start</button>
            <div id="zone-1-clock" class="clock">
            <div class="count-section">
                <h3 class="minutes">0</h3>
                <span class="clock-label">M</span>
            </div>
            <div class="count-section">
                <h3 class="seconds">0</h3>
                <span class="clock-label">S</span>
            </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane text-center margin-tb" id="zone-2">
            <!-- <label class="switch margin-tb">
                    <input type="checkbox">
                    <div class="slider round"></div>
                </label> -->
            <small style="padding-left:8px;">Length:</small>
            <div class="btn-group dropup">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id='zone-2-button'>minutes <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="x in vm.timeInterval"><a href='#' ng-click="vm.setTime(x)">{{x}} minutes</a></li>
            </ul>
            </div>
            <br>
            <br>
            <button class="btn btn-default" onclick="startCountdown(2)">Start</button>
            <div id="zone-2-clock" class="clock">
            <div class="count-section">
                <h3 class="minutes">0</h3>
                <span class="clock-label">M</span>
            </div>
            <div class="count-section">
                <h3 class="seconds">0</h3>
                <span class="clock-label">S</span>
            </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane text-center margin-tb" id="zone-3">
            <!-- <label class="switch margin-tb">
                    <input type="checkbox">
                    <div class="slider round"></div>
                </label> -->
            <small style="padding-left:8px;">Length:</small>
            <div class="btn-group dropup">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id='zone-3-button'>minutes <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="x in vm.timeInterval"><a href='#' ng-click="vm.setTime(x)">{{x}} minutes</a></li>
            </ul>
            </div>
            <br>
            <br>
            <button class="btn btn-default" onclick="startCountdown(3)">Start</button>
            <div id="zone-3-clock" class="clock">
            <div class="count-section">
                <h3 class="minutes">0</h3>
                <span class="clock-label">M</span>
            </div>
            <div class="count-section">
                <h3 class="seconds">0</h3>
                <span class="clock-label">S</span>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
